{
  "ignorePatterns": ["dist/", "node_modules"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "sourceType": "module",
    "EXPERIMENTAL_useSourceOfProjectReferenceRedirect": true
  }
}
