{
  "extends": [
    "@simspace/eslint-config/.eslintrc",
    "@simspace/eslint-config/.typescript.eslintrc"
  ],
  "ignorePatterns": ["dist/", "node_modules"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./**/tsconfig.json"],
    "sourceType": "module",
    "EXPERIMENTAL_useSourceOfProjectReferenceRedirect": true
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ]
  }
}
